/* Custom CSS file for Vargas' specific needs that arent in style.css */
.fmi-1 {
    margin-inline: 0.5em;
}
.fmi-2 {
    margin-inline: 1em;
}
.thumbnail {
    width: 320px;
    height: 180px;
    object-fit: cover;
}
.thumbnail-1 {
    width: 640px;
    height: 320px;
    object-fit: cover;
}
.icon-32 {
    height: 32px;
}
.icon-64 {
    height: 64px;
}
hr.s-white-space {
    opacity: 0;
}
hr.m-white-space {
    padding: 1em;
    opacity: 0;
}
.btn-hoverable {
    transition: 0.4s;
}
.btn-hoverable:hover {
    transform: scale(1.05);
}
.b-radius-1 {
    border-radius: 1em;
}
.c-container {
    display: flex;
    width: 100%;
}
.c-col {
    width: 100%;
}